<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Amazon Turk Annotation Test</span>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#annotate-page" class="mdl-layout__tab is-active">Annotate</a>
            <a href="#help-page" class="mdl-layout__tab">Help</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="annotate-page">
            <content-page></content-page>
        </div>
        <div class="mdl-layout__tab-panel" id="help-page">
            <help-page></help-page>
        </div>
    </main>
</div>
